<% layout('layouts/boilerplate')%>  
      <style>
        .btn {
            min-width: 250px;
            min-height: 75px;
}
    </style>
    <div class="container">
        <H1 class="text-center">Shuttlelane Lease</H1>

        <div class="card mx-auto col-sm-6">
            <div class="card-body text-center">
                <a href="/cars" class="btn btn-lg btn-success text-center">Flexi-Rental</a>
                <a href="/cars" class="btn btn-lg btn-success text-center">Drive-To-Own</a>
            </div>
        </div>

    </div>
